<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>POST방식으로 요청 후 응답펭이지 받아보기</h1>
	
	<p>
		특징1. POST방식으로 요청한 데이터는 URL의 Body영역에 데이터를 포함시켜서 요청 <br>
			-> 사용자가 입력한 값들이 URL에 노출되지 않는다. <br>
			=> 보안유지가 가능함 <br>
			=> 로그인이나 회원가입 같은 경우 POST방식이 적합함 <br> <br>
			
		특징2. Body영역은 전송하는 길이에 제한이 없음 <br>
			=> 게시판 작성 같은 경우 POST방식이 적합함 <br><br>
			
		특징3. 즐겨찾기는 가능하나 전달되는 데이터가 URL에 노출되지 않음 <br><br>
		
		특징4. 최대 요청받는 시간이 존재해서 페이지 요청 및 대기시간이 있다. <br>
	</p>

	<h2>개인정보 입력 - POST</h2>
	
	<form action='../test2.do' method="post">
		<ul>
			<li>
			<!-- 
				input태그 사용시 key값은 반드시 서버에 넘겨줘야 하는데 key값 설정은 name속성으로 한다 
			 -->
				이름 : <input type="text" name="name">
			</li>
			<li>
				성별 : 
				남자 <input type="radio" name="gender" value="M">
				여자 <input type="radio" name="gender" value="F">
			</li>
			<li>
				나이 : <input type="number" name="age">
			</li>
			<li>
				사는 도시 : 
				<select name="city">
					<option>서울시</option>
					<option>경기도</option>
					<option>강원도</option>
					<option>인천</option>
				</select> 
			</li>
			<li>
				키 : <input type="range" name="height" min="140" max="200">
			</li>
			<li>
				좋아하는 음식(모두 고르시오) :
				한식 <input type="checkbox" name="food" value="한식">
				중식 <input type="checkbox" name="food" value="중식">
				일식 <input type="checkbox" name="food" value="일식">
				양식 <input type="checkbox" name="food" value="양식">
				분식 <input type="checkbox" name="food" value="분식">
			</li>
			<li>
				<input type="submit">
				<input type="reset">
			</li>
		</ul>
	</form>
	
</body>
</html>